<div class="container mt-5">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
      <div class="image">
        <img src="../../assets/Angular_logo.svg.png" width="70" height="70">
      </div>
      <div class="quiz-header">
        <h4 style="font-family: cursive;">Angular and TypeScript Quiz!</h4>
        <span style="font-family: italic;">Welcome {{name}}</span>
      </div>
    </div>
    <div class="d-flex justify-content-around py-3">
      <div class="score">
        <h5>20 Points</h5>
      </div>
      <div class="question-remain">
        <span style="font-family: italic;">Question 1 of 9</span>
      </div>
      <div class="timer">
        <h5><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> 60 sec</h5>
      </div>
    </div>
    <div class="progress mb-3">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="question">
      <div class="card">
        <h3>What is your name?</h3>
      </div>
    </div>
    <div class="options">
      <ol>
        <li>
          <div class="card">nhat</div>
        </li>
        <li>
          <div class="card">don</div>
        </li>
        <li>
          <div class="card">bao</div>
        </li>
        <li>
          <div class="card">cuong</div>
        </li>
      </ol>
    </div>
    <div class="d-flex justify-content-between p-3">
      <button class="btn"><i class="fa fa-chevron-left text-primary fa-3x" aria-hidden="true"></i></button>
      <button class="btn"><i class="fa fa-refresh text-primary fa-3x" aria-hidden="true"></i></button>
      <button class="btn"><i class="fa fa-chevron-right text-primary fa-3x" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
